@model DrawingsServer.DomainModel.Drawing

<h2>@ViewBag.Title</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/ScriptsApp/canvas.js")" type="text/javascript"></script>

@using (Html.BeginForm("Create", "Drawings", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Drawing</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Author)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Author)
            @Html.ValidationMessageFor(model => model.Author)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Category)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Category)
            @Html.ValidationMessageFor(model => model.Category)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Image)
        </div>

        @Html.FileInput("drawingImage")
        <input type="hidden" name="canvasImage" id="canvasImage" />

        <canvas id="drawingCanvas" width="400" height="300">
            <p>Canvas is not suported, try another browser...</p>
        </canvas>

        <p>
            <input type="submit" value="@ViewBag.SubmitCaption" />
        </p>
    </fieldset>
}

<!-- Why is this only working if I place it here? I tried wrapping the code with $() -->
<script type="text/javascript">
    $("form").submit(function () {
        var canvas = $("#drawingCanvas")[0];
        var canvasImage = canvas.toDataURL("image/png");
        $("#canvasImage").val(canvasImage);
    });
</script>
