@model DrawingsServer.DomainModel.Drawing

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Drawing</legend>

    <div class="field-element">
        <div class="display-label">Title</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Title)
        </div>
    </div>

    <div class="field-element">
        <div class="display-label">Author</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Author)
        </div>
    </div>

    <div class="field-element">
        <div class="display-label">Created</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Created)
        </div>
    </div>

    <div class="field-element">
        <div class="display-label">LastUpdated</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.LastUpdated)
        </div>
    </div>

    <div class="field-element">
        <div class="display-label">Category</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Category)
        </div>
    </div>

    @Html.ImageBase64("drawingImage", Model.Image, Model.ImageContentType)

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
